body {
 font-size:25px;
  align-items: center;
  text-align: center;
  align-content: center;
  }
textarea {
 margin: 3px;
  resize: none;
  width:90%;
 border-radius: 13px;
  height :90px;
 font-size:40px; 
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
button {
 background-color:white;
 margin: 3px;
 font-size:40px; 
 width:200px;
 height:48px;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }
div {
 overflow-x: hidden;

  overflow-y: scroll;
 margin: 3px;
 font-size:40px;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 width: fit-content;
 }
