body {
 font-size:25px;
 display: flex;
  align-items: flex-start;
  text-align: center;
  align-content: center;
  }
textarea {
  resize: none;
  width:50%;
  height :90px;
 align-self: center;
 font-size:40px; 
  }
button {
 font-size:40px; 
 align-self: center;
 }
div {
 align-self: center;
 }
